
<div class="container-fluid">
    <a href="#/Games/" type="button" class="btn btn-default" ng-disabled="!showAll">Show All</a>
    <table class="table-hover table">
        <thead>
            <tr>
                <td>Game</td>
                <td>Playa</td>
                <td>Lord</td>
                <td>Corruption Pts</td>
                <td>Gold Pts</td>
                <td>Adventurer Points</td>
                <td>Lord Pts</td>
                <td>Quest Pts</td>
                <td>Quest Qty</td>
                <td>Total</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="game in games | filter:Filter">
                <td>{{game.game_id}}</td>
                <td>{{game.user_name}}</td>
                <td popover-append-to-body="true" popover-placement="bottom" popover-trigger="mouseenter" popover="{{game.description}}">{{game.name}}</td>
                <td>{{game.corruption_pts}}</td>
                <td>{{game.gold_pts}}</td>
                <td>{{game.adv_pts}}</td>
                <td>{{game.lord_pts}}</td>
                <td>{{game.quest_pts}}</td>
                <td>{{game.quest_qty}}</td>
                <td>{{game.gold_pts + game.adv_pts + game.lord_pts + game.quest_pts - game.corruption_pts}}</td>
            </tr>
        </tbody>

    </table>
</div>