<div class="container-fluid">
    <h3>CPS LoWD {{tourney}}</h3>
    <iframe ng-if="tourney < 3" ng-src="{{'http://challonge.com/cpsLOWD_' + tourney + '/module' | trustUrl}}" width="100%" height="650" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>
    <iframe ng-if="tourney > 2" src="https://docs.google.com/spreadsheets/d/1f8X1uJ3R9ZUVB1XsmonLCQReMuv-yAUtGFFFHZjWm4M/edit?usp=sharing&single=true&gid=0&range=A1%3AE4&output=html" width="100%" height="650" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>
</div>