<div class="container">
    <div class="col-lg-6 col-lg-offset-4">
        <form role="form">
            <div class="form-group">
                <label >Name</label>
                <input type="text" placeholder="cpsLOWD 4" class="form-control" ng-model="tournament.name" />
            </div>
            <div class="form-group">
                <label >Type</label>
                <select class="form-control" ng-model="tournament.type" >
                    <option>Single Elimination</option>
                    <option>Double Elimination</option>
                </select>
            </div>
            <div class="form-group">
                <label>Participants</label><br />
                <ul ng-if="tournament.users">
                    <li ng-repeat="user in tournament.users">{{user.user_name}} <span ng-click="removeUser($index)" class="fa fa-times"></span></li>
                </ul>
                <label for="user_id">Add users</label>
                <select class="form-control" ng-change="addUser($index)" ng-model="selectedUser" ng-options="user as user.user_name for user in unSelected"></select>
            </div>
            <div class="form-group">
                <label >URL</label><br />
                <input type="text" ng-model="tournament.url" placeholder="cpsLOWD_4">
            </div>
            <div class="form-group">
                <label >Description</label>
                <textarea ng-model="tournament.description" placeholder="No wysiwyg.  Use html you bum." class="form-control"></textarea>
            </div>
        </form>
        {{tournament}}
        <button ng-click="getChallongeTournies()" class="btn btn-primary">
            Submit
        </button>
    </div>
</div>